h1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(245, 175, 236);
    text-align: center;
}

nav{
    text-align: center;
}

ul{
    display: inline-block;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    color: chocolate;
}

li{
    display: inline-block;
}
 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 
 .form-register {
     width: 400px; ;
     background: #eaade0;
     padding: 30px;
     margin: auto;
     margin-top: 100px;
     border-radius: 40px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     color: white
     
}

.form-register h4{
    font-size:22px ;
    margin-bottom: 20px;
    
    
}

.controls{
    width: 100;
    background: #eb79da;
    padding: 18px; ;
    border-radius: 8px;
    margin-bottom: 16px;
    border: 1px solid #ef97e1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
}

.form-register p{
    height: 40px;
    text-align: center;
    font-size:18px ;
    line-height:  40px; 
}
.form-register a {
    color: white;
    text-decoration: none;
}

.form-register a:hover {
    color: white;
    text-decoration:underline;
}

.form-register .botons {
    width: 100%;
    background: #eb79da;
    border: none;
    padding:12px ;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

  


main{
    position: relative;
    top: 35%;
    text-align: center;
}

.carouselslide{
    display: block;
    margin: auto;
}

.tamaño{
    height: 600px;
    width: 1000px;
}

#tam{
    height: 600px;
    width: 1000px;
}

footer{
    padding: 10px;
    width: 1366px;
    position: relative;
    bottom: 0px;
}
